<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="mapSettings" type="IntelContentImportScript.MapSettingsConfig, IntelContentImportScript"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level: %message%newline"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="IntelContentImportScript.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="Console"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <!--possible values "-pre" and "-post" and "". Pre will move all __contents__.xml from ContentImporterIn folder to   TempFolderToStoreContentXMLS. -post will update OUT folders .dita.3sish-->
    <add key="RunExePreorPostConversion" value="-pre"/>

    <add key="FNOTRANSLATIONMGMT" value="yes"/>
    <add key="ContentImporterSource" value="W:\Projects\Intel-Ixisoft-POC-ContentImport\Test2\source"/>
    <add key="ContentImporterWork" value="W:\Projects\Intel-Ixisoft-POC-ContentImport\Test2\work"/>
    <add key="ContentImporterIn" value="W:\Projects\Intel-Ixisoft-POC-ContentImport\Test2\in"/>
    <add key="VersionFolderPrefix" value="Version"/>
    <!-- RegEx should capture only the number values. Use lookbehind and lookahead to exclude non-number text.-->
    <add key="VersionSearchPattern" value="(?&lt;=;)(\d+)"/>
    <add key="VersionReplacePattern" value=";(\d+)"/>
    <add key="RevisionReplacePattern" value="_(\d{5})(?=\.)"/>
    <add key="DitaFilePattern" value=".*\.dita$|.*(?&lt;!customproperties|documentproperties|indexedcontent)\.xml$|.*\.ditamap$"/>
    <add key="ZipArchivePattern" value=".*\.zip$"/>
    <add key="ImageFileExtension" value=".image"/>
    <!-- If DefaultTargetFolder is empty, the import folder in the repository needs to accept all object types. -->
    <add key="DefaultTargetFolder" value="GeneralTopics"/>
    <add key="FolderInfoFolder" value="W:\Projects\Intel-Ixisoft-POC-ContentImport\RWS engagement\folder-mapping-drop1"/>
    <add key="FolderInfoSourcePattern" value=".*\.xml$"/>
    <add key="IshFilePattern" value=".*\.3sish$"/>
    <add key="ContentImporterOut" value="W:\Projects\Intel-Ixisoft-POC-ContentImport\Test2\out"/>
    <add key="FilemapFilename" value="filemap.xml"/>
    <add key="DatabaseFilename" value="ContentImporter.db"/>
    <add key="TridionDocsServerUrl" value="localhost"/>
    <add key="ParseTime" value="true"/>
    <add key="ImportUsername" value="admin"/>
    <add key="ImportUserPassword" value="admin"/>
    <add key="documentPropertiesExtension" value=".properties"/>
    <add key="custompropertiesExttension" value=".customproperties"/>
    
  </appSettings>
  <mapSettings>
    <map>
      <add client="en-us" rws="en-US"/>
      <add client="ja-jp" rws="ja-JP"/>
      <add client="zh-cn" rws="zh-CN"/>
      <add client="fr-fr" rws="fr-FR"/>
      <add client="de-de" rws="de-DE"/>
    </map>
  </mapSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
