<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <!-- Define targets -->
  <targets>
    <target xsi:type="File" name="fileTarget" fileName="${basedir}/NLogfile.txt" layout="${longdate} ${level} ${message}" />
    <target xsi:type="Console" name="consoleTarget" layout="${longdate} ${level} ${message}" />
  </targets>

  <!-- Define rules -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="fileTarget,consoleTarget" />
  </rules>
</nlog>